@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-drag: none;
    user-select: none;
}
html,body{ 
    height: 100%;
}
body{
    overflow-y: hidden;
}
ul,li,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
#wrap {
    width:100%; 
    height:100%; 
    position:relative;
}
/* 헤더 */
header{
    width: 100%;
    height: 80px;
    position: fixed;
    top:0;
    left: 0;
    z-index: 100;
    background-color: rgba(42,42,42,1);
}
header a{
    color:#fff;
}
.head_inner{
    position: relative;
    max-width: 1240px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.head_inner .logo a{
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 70px;
    background-image: url('../img/logo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(42, 42, 42);
}
.head_inner .menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.head_inner .menu li{
    padding: 20px;
}
.head_inner .launcher{
    width: 30%;
    text-align: center;
}
.head_inner .launcher a{
    padding: 20px;
}
footer{
    height: 400px;
}
/* 풀페이지 관련 */
#dot{
    width:80px; 
    height:250px;  
    position:fixed; 
    justify-content:center;
    align-items:center; 
    display:flex;
    top:50%;
    right:0px;
    transform:translateY(-50%);
    z-index:100;
}

#dot > ul {
    width:40px; 
    height:220px;
}

#dot li {
    width:20px; 
    height:20px; 
    position:relative;
    display:block;
    margin:10px auto;
    border-radius:50%;
    box-shadow:-0px 0px 5px rgba(255,255,255,0.1);
}
#dot li a {
    background:rgba(255,255,255,0.7);
    transition:all 0.3s ease-in-out;
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    outline:none; 
    border-radius:50%;
    background:rgba(255,255,255,0.5);
    cursor:pointer; position:absolute;
}
#dot ul .active{
    box-shadow:0 0 0 2px #0cdaff;
}
.active a{
    transform:scale(0.4);
}
#dot li:hover{
    opacity:1;
    cursor:pointer;
}
#pages{
    width:100%;
    height: 100%;
    position: relative;
}
.box:not(:last-child){
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    text-align: center;
}
.box:nth-child(even){
    background-color: red;
}
.box:nth-child(odd){
    background-color: blueviolet;
}

/* 풀페이지 속 슬라이드 */
.p1{
    overflow: hidden;
    width: 100%;
}
#boxwrap{
    width: 300vw;
    height: 100vh;
    position: relative;
}
.p1 .bxb{
    width: 100vw;
    height: 100vh;
    float: left;
}

/* 슬라이드 닷 */
#dot2{
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    width: 120px;
    height: 20px;
    background-color: rgba(100,100,100,0.6);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 60px;
    z-index: 5;
}
#dot2::after{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(130,130,130,0.6);
    border-radius:60px;
    animation: showbar 6s linear infinite;
    z-index: 7;
}
@keyframes showbar {
    0%{
        width: 0%;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 60px;
        border-bottom-left-radius: 60px;
    }
    20%{
        border-radius: 60px;
    }
    100%{
        width: 100%;
        border-top-right-radius: 60px;
        border-bottom-right-radius: 60px;
        border-top-left-radius: 60px;
        border-bottom-left-radius: 60px;
    }
}
#dot2:hover::after{
    animation-play-state: paused;
}
#dot2 li{
    width: 15px;
    height: 15px;
    background-color: transparent;
    display: inline-block;
    border-radius: 30px;
    position: relative;
    transition: all 0.4s ease-in-out;
    z-index: 9;
}
#dot2 .active{
    background-color: #333;
    transition: all 0.4s ease-in-out;
}

#dot2 li a{
    background-color: #ddd;
    transition: all 0.4s ease-in-out;
    width:100%; 
    height:100%; 
    outline:none; 
    border-radius:50%;
    cursor:pointer;
    position: absolute;
    z-index: 50;
    top:0;
    left: 0;
}

/* 풀페이지1 */
.inslide1{
    background-image: url(../img/img1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.inslide2{
    background-image: url(../img/img2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.inslide3{
    background-image: url(../img/img3.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.item{
    color:#fff;
    width:400px;
    height: 600px;
    background-color: rgb(42, 42, 42);
    position: absolute;
    right: 10%;
    top:25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 4px;
    text-align: left;
    padding: 20px;
}
.item img{
    width: 60%;
    align-self: center;
}
.item button{
    width: 80%;
    align-self: center;
    padding: 15px;
    border-radius: 10px;
    border:none;
    background-color: rgb(0,116,228);
    color:#fff;
    cursor: pointer;
}
.item p {
    font-size: 1.2em;
}
.item button:hover{
    opacity: 0.8;
}