@charset "utf-8";

@media screen and (max-width:1024px) {
    a{
        color:#fff;
    }
    header{
        position: static;
    }
    body{
        overflow-y: visible;
    }
    p{
        line-height: 2em;
    }
    #content1{
        width: 100%;
        /* height: 3000px;  */
        background-color: rgb(0, 0, 0);
        color: #fff;
    }
    .svg{
        width: 15px;
        height: 15px;
    }
    .bar_wrap{
        width: 100%;
        position: sticky;
        top:0;
        margin: 0 auto;
        background-color: #000;
        z-index: 10;
    }
    .content_bar{
        max-width: 90%;
        height: 100px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding-left: 3%;
    }
    .content_bar > div{
        margin: 5px 10px;
        padding: 5px 10px;
        background-color: rgb(58,58,58);
        border-radius: 12px;
        font-size: 1.1vw;
    }
    .content_bar > div:hover{
        color:#000;
    }
    .content_bar input,.content_bar button{
        border: none;
        background-color: transparent;
        outline: none;
        color: #fff;
    }
    #content2{
        width: 100%;
        max-width: 90%;
        margin:0 auto;
    }
    .edit{
        fill: url(#star_gradi);
        stroke: rgb(245,245,245);
    }
    .content_title{
        margin: 20px 0;
        width: 90%;
        padding-left: 5%;
    }
    .content_title h2{
        font-size: 4vw;
    }
    span.score{
        padding: 3px;
    }
    .title_bar{
        display: flex;
    }
    .title_bar > div{
        margin: 10px 15px 10px 0;
        font-size: 1.2vw;
    }
    #content3{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        position: relative;
    }
    .category{
        width: 100%;
        background-color: #000;
        padding: 10px;
        position: sticky;
        z-index: 10;
        top:80px;
    }
    .no1{
        max-width: 90%;
        margin: 0 auto;
        padding-left: 5%;
        height: 50px;
        line-height: 50px;
    }
    .no1 span{
        margin-right: 20px;
    }
    .no1 span.on a::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: #fff;
    }
    .no1 span a{
        display: inline-block;
        font-size: 2.2vw;
        color: #d4d4d4;
        position: relative;
    }
    .no1 span a:after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0;
        background-color: #fff;
        transition: all 0.5s;
    }
    .no1 span a:hover::after{
        width: 100%;
    }
    .content4{
        width: 100%;
        height: 100%;
    }
    .content4_layout{
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    .main1{
        width: 60%;
        height:100%;
        background-color: rgb(0, 0, 0);
        
    }
    .main_slide{
        width:100%;
        height: 30vw;
        max-height: 600px;
        overflow: auto;
    }
    .slide_inner{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .slide_inner img{
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left: 0;
        display: none;
    }
    .slide_inner img:first-child{
        display: block;
    }
    .main_thumb{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .main_thumb button{
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        border-radius: 10px;
        border:none;
        text-align: center;
        background-color: transparent;
    }
    .main_thumb span{
        display: block;
        width: 30px;
        height: 30px;
        box-sizing: border-box;
        line-height: 31px;
        background-color: #d4d4d4;
        border-radius: 100%;
        transition: all 0.5s;
        z-index: 100;
    }
    #prev{
        left: 0;
    }
    #prev:hover span{
        background-color: #000;
        color: #fff;
    }
    #next{
        right: 0;
    }
    #next:hover span{
        background-color: #000;
        color: #fff;
    }
    .main_thumb .thumb_1{
        width: 90%;
        height: 100%;
        padding: 15px;
        margin: 0 auto;
        overflow: hidden;
        text-align: center;   
    }
    .thumb_1 .thumb_inner{
        width: 1200px;
        height: 100%;
        padding: 0 10px;
    }
    .thumb_inner img{
        width: 100vw;
        height: 100vw;
        max-width: 100px;
        max-height: 70px;
        float: left;
        margin-right: 50px;
        filter:opacity(0.7);
        transition: all 0.5s;
    }
    .thumb_inner img:hover{
        filter: none;
    }
    .thumb_inner img:last-child{
        margin-right: 0;
    }
    .intro1{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .main_intro div{
        margin: 20px 0;
    }
    .intro1 p{
        margin: 10px 0;
    }
    .intro1 .util{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 150px;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }
    .util li{
        width: 100%;
        padding: 10px;
    }
    .util li:first-child{
        border-right: 1px solid rgba(100,100,100,0.5);
    }
    .util li span{
        display: block;
        margin: 10px;
    }
    div.intro2{
        width: 100%;
        height: 100%;
        position: relative;
        margin-bottom: 0;
    }
    .intro2::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background: linear-gradient(
            to bottom, 
            rgba(0, 0, 0, 0) 75%,
            rgba(0, 0, 0, 0.4) 85%, 
            rgba(0, 0, 0, 0.7) 95%, 
            rgb(0, 0, 0) 100%), transparent;
    
    } 
    .intro2_hide{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    ul.hidden{
        display: none;
    }
    .intro2_hide li{
        width: 100%;
        height: 100%;
        margin: 1%;
        overflow: hidden;
        border-radius: 8px;
    }
    .intro2_hide li:nth-child(2),.intro2_hide li:nth-child(3),
    .intro2_hide li:nth-child(5),.intro2_hide li:nth-child(6){
        width: 48%;
        height: 48%;
    }
    .intro2_hide li img{
        width: 100%;
        height: 100%;
    }
    .intro2 p{
        margin: 20px 0;
        color: #d4d4d4;
    }
    .intro2 p:last-of-type{
        margin-bottom: 0;
    }
    .toggle_Btn{
        width: 100%;
        height: 50px;
        border-radius: 8px;
        border: none;
        color: #fff;
        background-color: rgb(58,58,58);
        cursor: pointer;
    }
    .sub1{
        width: 50%;
        height: auto;
        background-color: rgb(0, 0, 0);
        padding-left: 5%;
    }
    .sub_bar{
        width: 90%;
        height: auto;
        text-align: left;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 140px;
    }
    .sub_bar > * {
        margin: 5px 0;
    }
    .sub_logo{
        align-self: center;
        max-width: 150px;
        max-height: 150px;
        text-align: center;
    }
    .sub_logo img{
        width: 100%;
        height: 100%;
    }
    .sub_value{
        padding: 5px 10px;
        text-align: center;
        background-color: rgb(42,42,42);
        color: #fff;
        font-size: 10px;
        border-radius: 4px;
    }
    .sub_menu{
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .sub_menu a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        line-height: 40px;
        border-radius: 5px;
        margin: 5px;
        font-size: 14px;
    }
    a.buy{
        background-color: rgb(0,116,228);
        min-width: 155px;
    }
    a.cart,a.wish{
        border: 2px solid #fff;
        border-radius: 10px;
        min-width: 155px;
    }
    .plus{
        display: inline-block;
        border: 2px solid rgb(245,245,245);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: relative;
        text-align: center;
        margin-right: 5px;
        transition: all 0.5s;
    }
    .plus::before,.plus::after{
        content: '';
        position: absolute;
        background-color: rgb(245,245,245);
        margin: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: all 0.5s;
    }
    .plus::before{
        width: 8px;
        height: 2px;
    }
    .plus::after{
        height: 8px;
        width: 2px;
    }
    .sub_menu2{
        width: 100%;
    }
    .grade{
        display: inline-block;
        width: 45px;
        height: 50px;
    }
    .grade img{
        width: 100%;
        height: 100%;
        vertical-align: top;
    }
    .age{
        font-size: 12px;
    }
    .sub_info{
        font-size: 12px;
        padding: 10px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(100,100,100,0.5);
    }
    .content5{
        width: 100%;
    }
    .content5_layout{
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: 0px auto;
    }
    .content5_layout h3{
        margin: 20px 0;
    }
    .achive{
        width: 100%;
        margin: 50px 0;
    }
    .achive ul{
        width: 100%;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 40px 0;
    }
    .achive ul li div{
        margin: 5px 10px;
        width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .achive ul li div path{
        fill:rgb(202,81,43);
    }
    .achive li img{
        width: 100px;
        height: 100px;
    }
    .achive_btn{
        width: 100%;
        height: 50px;
        border-radius: 8px;
        border: none;
        color: #ddd;
        background-color: rgb(58,58,58);
        cursor: pointer;
        margin: 20px 0;
        transition: all 0.5s;
    }
    .achive_btn:hover{
        opacity: 0.8;
        color: #fff;
    }
    .addon{
        width: 100%;
    }
    .addon_bundle{
        width: 100%;
    }
    .dlc{
        width: 100%;
    }
    .dlc .dlc_upside{
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid rgb(58,58,58);
    }
    .dlc_upside_c2{
        padding: 25px 30px;
    }
    .dlc_upside_c2 .c2_a1{
        margin-bottom: 10px;
        width: 100%;
    }
    .dlc_upside_c2 .c2_a1 span:first-child{
        display: inline-block;
        font-size: 10px;
        padding: 5px 10px;
        background-color: rgb(58,58,58);
        border-radius: 4px;
        margin-right: 5px;
    }
    .dlc_upside_c2 .c2_a1 span:last-child{
        width: 100%;
        font-size: 16px;
    }
    .dlc_upside_c2 .c2_a2{
        font-size: 14px;
        color: #d4d4d4;
    }
    .dlc_upside_c2 .c2_a2 p{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .dlc img{
        width: 100%;
        height: auto;
    }
    .dlc_downside{
        width: 100%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    .dlc_downside_c1{
        display: flex;
        flex-direction: column;
        margin: 10px;
        order:2;
    }
    .dlc_downside button{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid rgb(245,245,245);
        background-color: transparent;
        color: rgb(245,245,245);
        border-radius: 8px;
        min-width: auto;
        width: 170px;
        height: 50px;
        margin: 10px;
        cursor: pointer;
        text-size-adjust:inherit;
        transition: all 0.5s;
    }
    .dlc_downside button:hover,
    .dlc_downside button:hover > span{
        border: 2px solid rgb(0,116,228);
        color: rgb(0,150,220);
    }
    .dlc_downside button:hover > span::after,
    .dlc_downside button:hover > span::before{
        background-color:rgb(0,116,228)
    }
    .add_btn{
        width: 100%;
        height: 50px;
        border-radius: 8px;
        border: none;
        color: #ddd;
        background-color: rgb(58,58,58);
        cursor: pointer;
        margin: 20px 0;
        transition: all 0.5s;
    }
    .add_btn:hover{
        opacity: 0.8;
    }
    .rating{
        width: 100%;
    }
    .rating h3{
        margin-top: 80px;
    }
    .rating > span {
        font-size: 12px;
        color: #d4d4d4;
    }
    .rating_wrap{
        width: 100%;
        margin: 20px 0;
    }
    .rating_star{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
    }
    .rating_star span{
       display: block;
       max-width: 40px;
       margin: 10px;
    }
    .rating_star .star{
        width: 100%;
        height: 100%;
    }
    .rating_six{
        width: 100%;
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
    }
    .rating_var{
        background-color: rgba(58,58,58,0.7);
        border-radius: 8px;
        width: 46%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2%;
        padding: 2%;
    }
    .rating_var p span{
        font-size: 12px;
        color: rgb(100, 100, 100);
    }
    .rating_score{
        width: 100%;
        text-align: center;
        margin-top: 50px;
    }
    .metascore{
        width: 100%;
    }
    .metascore_inner{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .metascore_inner li{
        width: 100px;
        height: 100px;
        position: relative;
        margin: 20px;
    }
    .metascore_inner li > span{
        display: block;
        margin: 15px 0;
    }
    .metacircle{
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
    }
    .circlePath:first-child{
        stroke: rgb(58, 58, 58);
        fill: none;
    }
    .circlePath:last-child{
        stroke: rgb(0,116,228);
        fill: none;
    }
    circle.c_second{
        stroke-dasharray: 226.08;
        stroke-dashoffset: 45.216;
    }
    .circle2:hover circle.c_second{
        animation: circles 3s linear;
    }
    @keyframes circles {
        0%{
            stroke-dashoffset: 226.08;
        }
        100%{
            stroke-dashoffset: 45.216;
        }
    }
    .circle3:hover circle.c_third{
        animation: dash 3s linear;
    }
    @keyframes dash {
        0%{
            stroke-dashoffset: 226.08;
            stroke-dasharray: 0;
        }
        100%{
            stroke-dashoffset: 10;
            stroke-dasharray: 20;
        }  
    }
    .circle_gauge{
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 13px;
    }
    .review{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .review .viewall{
        order: 4;
        padding: 15px;
    }
    .review_box{
        position: relative;
        margin: 20px 10px;
        width: 100%;
        min-width: 220px;
        height: 300px;
        padding: 15px;
        text-align: left;
        background-color: rgb(30,30,30);
    }
    .review_box_upside{
        height: auto;
        border-bottom: 1px solid rgb(100, 100, 100);
        margin-bottom: 20px;
        font-size: 16px;
    }
    .review_box_downside{
        font-size: 14px;
    }
    .review_box_downside p{
        line-height: 20px;
        margin: 10px 0;
    }
    .review_box_downside a{
        position: absolute;
        bottom: 15px;
    }
    .css_gray{
        color: rgb(100,100,100);
    }
    a.css_gray{
        text-decoration: underline;
    }
    a.css_gray:hover{
        text-decoration: none;
    }
    .system{
        width: 100%
    }
    .system span{
        color: #d4d4d4;
    }
    .system p{
        line-height: 1.3em;
        font-size: 14px;
    }
    .sysbox{
        width:100%;
        padding: 30px;
        background-color: rgb(42,42,42);
    }
    .sys1{
        display: flex;
        border-bottom: 1px solid rgb(100, 100, 100);
    }
    .sys1 div{
        padding: 30px 0;
        border-bottom: 3px solid #fff;
    }
    .sys2{
        display: flex;
        flex-direction: column;
        padding-top: 40px;
    }
    .sys2_options{
        display: flex;
        margin-bottom: 30px;
    }
    .sys2_options .minOption{
        width: 50%;
    }
    .sys2_options .commonOption{
        width: 50%;
    }
    .sys3{
        margin: 30px 0;
    }
    .sys4{
        padding-bottom: 30px;
        border-bottom: 1px solid rgb(100, 100, 100);
    }
    .sys5{
        font-size: 12px;
        text-align: center;
        color:rgb(100, 100, 100);
        padding: 10px;
    }
    .sys5 a{
        display: inline-block;
        margin-top: 10px;
    }
    .content6{
        width: 100%;
        display: none;
    }
    .content6_layout{
        width: 80%;
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    
    .content6_left{
        width: 100%;
        order: 2;
    }
    .content6_left .sort{
        display: flex;
        align-items: flex-end;
        height: 60px;
        margin-top: 20px;
    }
    .sort{
        position: relative;
        width: 180px;
    }
    .sort button{
        width: 100%;
        font-size: 16px;
        padding: 5px;
        border: none;
        text-align: left;
        background-color: transparent;
        color: rgb(200, 200, 200);
        cursor: pointer;
    }
    .sort button:hover ~ #sortList{
        display: block;
    }
    #sortList{
        position: absolute;
        padding: 5px;
        width: 100%;
        background-color: rgb(10,10,10);
        display: none;
    }
    #sortList:hover{
        display: block;
    }
    #sortList li{
        padding: 5px;
        cursor: pointer;
        font-size: 14px;
        color: rgb(100,100,100);
    }
    .content6_left .addSection{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    div#hidden{
        margin-top: 50px;
        display: none;
        text-align: center;
    }
    div#hidden span{
        font-size: 30px;
    }
    div#hidden p{
        font-size: 16px;
        color: rgb(150, 100, 100);
    }
    .sorter{
        width: 42%;
        height: 100%;
        margin: 0 20px 20px 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 14px;
        cursor: pointer;
        transition: all 0.5s;
    }
    .addSection li:hover{
        opacity: 0.8;
    }
    .addSection li > * {
        margin: 5px 0 ;
    }
    .addImage{
        width: 100%;
        height: 100%;
        height: auto;
        border-radius: 10px;
        overflow: hidden;
    }
    .addImage img{
        width: 100%;
        max-height: 100%;
    }
    .content6_right{
        padding-left: 1%;
        width: 100%;
        margin-top: 80px;
    }
    .content6_right > h3{
        display: inline-block;
        cursor: pointer;
    }
    .content6_right > h3:hover ~ .filterwrap{
        display: flex;
    }
    .filterwrap{
        display: none;
        flex-direction: column;
    }
    .filterwrap:hover{
        display: flex;
    }
    .filterwrap > .filter{
        width: 100%;
        padding: 15px;
        border-bottom: 1px solid rgb(100, 100, 100);
    }
    .filter > div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        width: 100%;
    }
    .filter ul{
        display: none;
        width: 100%;
    }
    .filter ul li{
        display: block;
        width:100%;
        padding: 15px;
        color:rgb(100, 100, 100);
        font-size: 14px;
        cursor: pointer;
    }
    .filter ul li.on{
        color: rgb(245,245,245);
    }
    .filter ul li:hover{
        color: rgb(245,245,245);
    }
    .keyword input{
        border:none;
        outline: none;
        background-color: transparent;
        color: #fff;
    }
    .arrdown{
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url(../img/down.png);
        background-position: center;
        background-size: contain;
        transition: all 0.5s;
    }
    .arrdown.on{
        transform: rotate(-180deg);
    }
    .content7{
        width: 100%;
        margin-top: 50px;
        display: none;
    }
    .achivemain{
        width: 80%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 8px;
        background-color: rgb(42,42,42);
    }
    .achivemain_left{
        width: 100%;
        height: 100%;
    }
    .achivemain_left img{
        width: 100%;
        height:100%;
    }
    .achivemain_right{
        display: flex;
        align-items: center;
    }
    .right_input{
        display: flex;
        justify-content: flex-start;
        padding: 30px;
        box-sizing: border-box;
    }
    .right_input div{
        margin-right: 30px;
    }
    .right_input > div span{
        margin: 15px;
        display: block;
    }
}
@media screen and (min-width:1025px) {
    a{
        color:#fff;
    }
    header{
        position: static;
    }
    body{
        overflow-y: visible;
    }
    p{
        line-height: 2em;
    }
    #content1{
        width: 100%;
        /* height: 3000px;  */
        background-color: rgb(0, 0, 0);
        color: #fff;
    }
    .svg{
        width: 15px;
        height: 15px;
    }
    .bar_wrap{
        width: 100%;
        position: sticky;
        top:0;
        margin: 0 auto;
        background-color: #000;
        z-index: 10;
    }
    .content_bar{
        max-width: 90%;
        height: 100px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding-left: 3%;
    }
    .content_bar > div{
        margin: 5px 10px;
        padding: 5px 10px;
        background-color: #d4d4d4;
        border-radius: 12px;
        font-size: 1.1vw;
        transition: all 0.4s;
    }
    .content_bar > div:hover{
        color:#000;
    }
    .content_bar input,.content_bar button{
        border: none;
        background-color: transparent;
        outline: none;
    }
    #content2{
        width: 100%;
        max-width: 90%;
        margin:0 auto;
    }
    .edit{
        fill: url(#star_gradi);
        stroke: rgb(245,245,245);
    }
    .content_title{
        margin: 20px 0;
        width: 90%;
        padding-left: 5%;
    }
    .content_title h2{
        font-size: 4vw;
    }
    span.score{
        padding: 3px;
    }
    .title_bar{
        display: flex;
    }
    .title_bar > div{
        margin: 10px 15px 10px 0;
        font-size: 1.2vw;
    }
    #content3{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        position: relative;
    }
    .category{
        width: 100%;
        background-color: #000;
        padding: 10px;
        position: sticky;
        z-index: 10;
        top:80px;
    }
    .no1{
        max-width: 90%;
        margin: 0 auto;
        padding-left: 5%;
        height: 50px;
        line-height: 50px;
    }
    .no1 span{
        margin-right: 20px;
    }
    .no1 span.on a::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: #fff;
    }
    .no1 span a{
        display: inline-block;
        font-size: 2.2vw;
        color: #d4d4d4;
        position: relative;
    }
    .no1 span a:after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0;
        background-color: #fff;
        transition: all 0.5s;
    }
    .no1 span a:hover::after{
        width: 100%;
    }
    .content4{
        width: 100%;
        height: 100%;
    }
    .content4_layout{
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    .main1{
        width: 60%;
        height:100%;
        background-color: rgb(0, 0, 0);
        
    }
    .main_slide{
        width:100%;
        height: 30vw;
        max-height: 600px;
        overflow: auto;
    }
    .slide_inner{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .slide_inner img{
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left: 0;
        display: none;
    }
    .slide_inner img:first-child{
        display: block;
    }
    .main_thumb{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .main_thumb button{
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        border-radius: 10px;
        border:none;
        text-align: center;
        background-color: transparent;
    }
    .main_thumb span{
        display: block;
        width: 30px;
        height: 30px;
        box-sizing: border-box;
        line-height: 31px;
        background-color: #d4d4d4;
        border-radius: 100%;
        transition: all 0.5s;
        z-index: 100;
    }
    #prev{
        left: 0;
    }
    #prev:hover span{
        background-color: #000;
        color: #fff;
    }
    #next{
        right: 0;
    }
    #next:hover span{
        background-color: #000;
        color: #fff;
    }
    .main_thumb .thumb_1{
        width: 90%;
        height: 100%;
        padding: 15px;
        margin: 0 auto;
        overflow: hidden;
        text-align: center;   
    }
    .thumb_1 .thumb_inner{
        width: 1200px;
        height: 100%;
    }
    .thumb_inner img{
        width: 100vw;
        height: 100vw;
        max-width: 100px;
        max-height: 70px;
        float: left;
        margin-right: 50px;
        filter:opacity(0.7);
        transition: all 0.5s;
    }
    .thumb_inner img:hover{
        filter: none;
    }
    .thumb_inner img:last-child{
        margin-right: 0;
    }
    .intro1{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .main_intro div{
        margin: 20px 0;
    }
    .intro1 p{
        margin: 10px 0;
    }
    .intro1 .util{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 150px;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }
    .util li{
        width: 100%;
        padding: 10px;
    }
    .util li:first-child{
        border-right: 1px solid rgba(100,100,100,0.5);
    }
    .util li span{
        display: block;
        margin: 10px;
    }
    div.intro2{
        width: 100%;
        height: 100%;
        position: relative;
        margin-bottom: 0;
    }
    .intro2::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background: linear-gradient(
            to bottom, 
            rgba(0, 0, 0, 0) 75%,
            rgba(0, 0, 0, 0.4) 85%, 
            rgba(0, 0, 0, 0.7) 95%, 
            rgb(0, 0, 0) 100%), transparent;
    
    } 
    .intro2_hide{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    ul.hidden{
        display: none;
    }
    .intro2_hide li{
        width: 100%;
        height: 100%;
        margin: 1%;
        overflow: hidden;
        border-radius: 8px;
    }
    .intro2_hide li:nth-child(2),.intro2_hide li:nth-child(3),
    .intro2_hide li:nth-child(5),.intro2_hide li:nth-child(6){
        width: 48%;
        height: 48%;
    }
    .intro2_hide li img{
        width: 100%;
        height: 100%;
    }
    .intro2 p{
        margin: 20px 0;
        color: #d4d4d4;
    }
    .intro2 p:last-of-type{
        margin-bottom: 0;
    }
    .toggle_Btn{
        width: 100%;
        height: 50px;
        border-radius: 8px;
        border: none;
        color: #fff;
        background-color: rgb(58,58,58);
        cursor: pointer;
    }
    .sub1{
        width: 40%;
        height: auto;
        background-color: rgb(0, 0, 0);
        padding-left: 5%;
    }
    .sub_bar{
        width: 90%;
        height: auto;
        text-align: left;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 140px;
    }
    .sub_bar > * {
        margin: 5px 0;
    }
    .sub_logo{
        align-self: center;
        max-width: 150px;
        max-height: 150px;
        text-align: center;
    }
    .sub_logo img{
        width: 100%;
        height: 100%;
    }
    .sub_value{
        padding: 5px 10px;
        text-align: center;
        background-color: rgb(42,42,42);
        color: #fff;
        font-size: 10px;
        border-radius: 4px;
    }
    .sub_menu{
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .sub_menu a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        line-height: 40px;
        border-radius: 5px;
        margin: 5px;
        font-size: 14px;
    }
    a.buy{
        background-color: rgb(0,116,228);
    }
    a.cart,a.wish{
        border: 2px solid #fff;
        border-radius: 10px;
    }
    .plus{
        display: inline-block;
        border: 2px solid rgb(245,245,245);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: relative;
        text-align: center;
        margin-right: 5px;
        transition: all 0.5s;
    }
    .plus::before,.plus::after{
        content: '';
        position: absolute;
        background-color: rgb(245,245,245);
        margin: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: all 0.5s;
    }
    .plus::before{
        width: 8px;
        height: 2px;
    }
    .plus::after{
        height: 8px;
        width: 2px;
    }
    .sub_menu2{
        width: 100%;
    }
    .grade{
        display: inline-block;
        width: 45px;
        height: 50px;
    }
    .grade img{
        width: 100%;
        height: 100%;
        vertical-align: top;
    }
    .age{
        font-size: 12px;
    }
    .sub_info{
        font-size: 12px;
        padding: 10px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(100,100,100,0.5);
    }
    .content5{
        width: 100%;
    }
    .content5_layout{
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: 0px auto;
    }
    .content5_layout h3{
        margin: 20px 0;
    }
    .achive{
        width: 65%;
        margin: 50px 0;
    }
    .achive ul{
        width: 100%;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 40px 0;
    }
    .achive ul li div{
        margin: 5px 0;
        width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .achive ul li div path{
        fill:rgb(202,81,43);
    }
    .achive li img{
        width: 100px;
        height: 100px;
    }
    .achive_btn{
        width: 100%;
        height: 50px;
        border-radius: 8px;
        border: none;
        color: #ddd;
        background-color: rgb(58,58,58);
        cursor: pointer;
        margin: 20px 0;
        transition: all 0.5s;
    }
    .achive_btn:hover{
        opacity: 0.8;
        color: #fff;
    }
    .addon{
        width: 65%;
    }
    .addon_bundle{
        width: 100%;
    }
    .dlc{
        width: 100%;
    }
    .dlc .dlc_upside{
        display: flex;
        border-bottom: 1px solid rgb(58,58,58);
    }
    .dlc_upside_c2{
        padding: 25px 30px;
    }
    .dlc_upside_c2 .c2_a1{
        margin-bottom: 10px;
        width: 100%;
    }
    .dlc_upside_c2 .c2_a1 span:first-child{
        display: inline-block;
        font-size: 10px;
        padding: 5px 10px;
        background-color: rgb(58,58,58);
        border-radius: 4px;
        margin-right: 5px;
    }
    .dlc_upside_c2 .c2_a1 span:last-child{
        width: 100%;
        font-size: 16px;
    }
    .dlc_upside_c2 .c2_a2{
        font-size: 14px;
        color: #d4d4d4;
    }
    .dlc_upside_c2 .c2_a2 p{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .dlc img{
        width: 250px;
        height: 150px;
    }
    .dlc_downside{
        width: 100%;
        padding: 25px 30px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .dlc_downside_c1{
        display: flex;
    }
    .dlc_downside button{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid rgb(245,245,245);
        background-color: transparent;
        color: rgb(245,245,245);
        border-radius: 8px;
        min-width: auto;
        width: 170px;
        height: 50px;
        margin: 0 10px;
        cursor: pointer;
        text-size-adjust:inherit;
        transition: all 0.5s;
    }
    .dlc_downside button:hover,
    .dlc_downside button:hover > span{
        border: 2px solid rgb(0,116,228);
        color: rgb(0,150,220);
    }
    .dlc_downside button:hover > span::after,
    .dlc_downside button:hover > span::before{
        background-color:rgb(0,116,228)
    }
    .add_btn{
        width: 100%;
        height: 50px;
        border-radius: 8px;
        border: none;
        color: #ddd;
        background-color: rgb(58,58,58);
        cursor: pointer;
        margin: 20px 0;
        transition: all 0.5s;
    }
    .add_btn:hover{
        opacity: 0.8;
    }
    .rating{
        width: 65%;
    }
    .rating h3{
        margin-top: 80px;
    }
    .rating > span {
        font-size: 12px;
        color: #d4d4d4;
    }
    .rating_wrap{
        width: 100%;
        margin: 20px 0;
    }
    .rating_star{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
    }
    .rating_star span{
       display: block;
       max-width: 40px;
       margin: 10px;
    }
    .rating_star .star{
        width: 100%;
        height: 100%;
    }
    .rating_six{
        width: 100%;
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
    }
    .rating_var{
        background-color: rgba(58,58,58,0.7);
        border-radius: 8px;
        width: 46%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2%;
        padding: 2%;
    }
    .rating_var p span{
        font-size: 12px;
        color: rgb(100, 100, 100);
    }
    .rating_score{
        width: 100%;
        text-align: center;
        margin-top: 50px;
    }
    .metascore{
        width: 100%;
    }
    .metascore_inner{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .metascore_inner li{
        width: 100px;
        height: 100px;
        position: relative;
        margin: 20px;
    }
    .metascore_inner li > span{
        display: block;
        margin: 15px 0;
    }
    .metacircle{
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
    }
    .circlePath:first-child{
        stroke: rgb(58, 58, 58);
        fill: none;
    }
    .circlePath:last-child{
        stroke: rgb(0,116,228);
        fill: none;
    }
    circle.c_second{
        stroke-dasharray: 226.08;
        stroke-dashoffset: 45.216;
    }
    .circle2:hover circle.c_second{
        animation: circles 3s linear;
    }
    @keyframes circles {
        0%{
            stroke-dashoffset: 226.08;
        }
        100%{
            stroke-dashoffset: 45.216;
        }
    }
    .circle3:hover circle.c_third{
        animation: dash 3s ease;
    }
    @keyframes dash {
        0%{
            stroke-dashoffset: 226.08;
            stroke-dasharray: 0;
        }
        100%{
            stroke-dashoffset: 10;
            stroke-dasharray: 20;
        }  
    }
    .circle_gauge{
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 13px;
    }
    .review{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .review_box{
        position: relative;
        margin: 60px 10px;
        width: 100%;
        min-width: 220px;
        height: 300px;
        padding: 15px;
        text-align: left;
        background-color: rgb(30,30,30);
    }
    .review_box_upside{
        height: auto;
        border-bottom: 1px solid rgb(100, 100, 100);
        margin-bottom: 20px;
        font-size: 16px;
    }
    .review_box_downside{
        font-size: 14px;
    }
    .review_box_downside p{
        line-height: 20px;
        margin: 10px 0;
    }
    .review_box_downside a{
        position: absolute;
        bottom: 15px;
    }
    .css_gray{
        color: rgb(100,100,100);
    }
    a.css_gray{
        text-decoration: underline;
    }
    a.css_gray:hover{
        text-decoration: none;
    }
    .system{
        width: 65%
    }
    .system span{
        color: #d4d4d4;
    }
    .system p{
        line-height: 1.3em;
        font-size: 14px;
    }
    .sysbox{
        width:100%;
        padding: 30px;
        background-color: rgb(42,42,42);
    }
    .sys1{
        display: flex;
        border-bottom: 1px solid rgb(100, 100, 100);
    }
    .sys1 div{
        padding: 30px 0;
        border-bottom: 3px solid #fff;
    }
    .sys2{
        display: flex;
        flex-direction: column;
        padding-top: 40px;
    }
    .sys2_options{
        display: flex;
        margin-bottom: 30px;
    }
    .sys2_options .minOption{
        width: 50%;
    }
    .sys2_options .commonOption{
        width: 50%;
    }
    .sys3{
        margin: 30px 0;
    }
    .sys4{
        padding-bottom: 30px;
        border-bottom: 1px solid rgb(100, 100, 100);
    }
    .sys5{
        font-size: 12px;
        text-align: center;
        color:rgb(100, 100, 100);
        padding: 10px;
    }
    .sys5 a{
        display: inline-block;
        margin-top: 10px;
    }
    .content6{
        width: 100%;
        display: none;
    }
    .content6_layout{
        width: 80%;
        display: flex;
        margin: 0 auto;
    }
    
    .content6_left{
        width: 70%;
    }
    .content6_left .sort{
        display: flex;
        align-items: flex-end;
        height: 60px;
        margin-top: 20px;
    }
    .sort{
        position: relative;
        width: 180px;
    }
    .sort button{
        width: 100%;
        font-size: 16px;
        padding: 5px;
        border: none;
        text-align: left;
        background-color: transparent;
        color: rgb(200, 200, 200);
        cursor: pointer;
    }
    .sort button:hover ~ #sortList{
        display: block;
    }
    #sortList{
        position: absolute;
        padding: 5px;
        width: 100%;
        background-color: rgb(10,10,10);
        display: none;
    }
    #sortList:hover{
        display: block;
    }
    #sortList li{
        padding: 5px;
        cursor: pointer;
        font-size: 14px;
        color: rgb(100,100,100);
    }
    .content6_left .addSection{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    div#hidden{
        margin-top: 50px;
        display: none;
        text-align: center;
    }
    div#hidden span{
        font-size: 30px;
    }
    div#hidden p{
        font-size: 16px;
        color: rgb(150, 100, 100);
    }
    .sorter{
        width: 20%;
        height: 100%;
        margin: 0 20px 20px 0;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        cursor: pointer;
        transition: all 0.5s;
    }
    .addSection li:hover{
        opacity: 0.8;
    }
    .addSection li > * {
        margin: 5px 0 ;
    }
    .addImage{
        width: 100%;
        height: 100%;
        height: auto;
        border-radius: 10px;
        overflow: hidden;
    }
    .addImage img{
        width: 100%;
        max-height: 100%;
    }
    .content6_right{
        padding-left: 1%;
        width: 32%;
        margin-top: 80px;
    }
    .filterwrap{
        display: flex;
        flex-direction: column;
    }
    .filterwrap > .filter{
        padding: 15px;
        border-bottom: 1px solid rgb(100, 100, 100);
    }
    .filter > div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }
    .filter ul{
        display: none;
    }
    .filter ul li{
        display: block;
        padding: 15px;
        color:rgb(100, 100, 100);
        font-size: 14px;
        cursor: pointer;
    }
    .filter ul li.on{
        color: rgb(245,245,245);
    }
    .filter ul li:hover{
        color: rgb(245,245,245);
    }
    .keyword input{
        border:none;
        outline: none;
        background-color: transparent;
        color: #fff;
    }
    .arrdown{
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url(../img/down.png);
        background-position: center;
        background-size: contain;
        transition: all 0.5s;
    }
    .arrdown.on{
        transform: rotate(-180deg);
    }
    .content7{
        width: 100%;
        margin-top: 50px;
        display: none;
    }
    .achivemain{
        width: 80%;
        height: auto;
        display: flex;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 8px;
        background-color: rgb(42,42,42);
    }
    .achivemain_left{
        width: 50%;
        height: 100%;
    }
    .achivemain_left img{
        width: 100%;
        min-height: 220px;
    }
    .achivemain_right{
        display: flex;
        align-items: center;
    }
    .right_input{
        display: flex;
        justify-content: flex-start;
        padding: 30px;
        box-sizing: border-box;
    }
    .right_input div{
        margin-right: 30px;
    }
    .right_input > div span{
        margin: 15px;
        display: block;
    }
}