@charset "utf-8";

a{
    color:#fff;
}
header{
    position: static;
}
body{
    overflow-y: visible;
}
p{
    line-height: 2em;
}
#content1{
    width: 100%;
    /* height: 3000px;  */
    background-color: rgb(0, 0, 0);
    color: #fff;
}
.svg{
    width: 15px;
    height: 15px;
}
.bar_wrap{
    width: 100%;
    position: sticky;
    top:0;
    margin: 0 auto;
    background-color: #000;
    z-index: 10;
}
.content_bar{
    max-width: 90%;
    height: 100px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-left: 3%;
}
.content_bar > div{
    margin: 5px 10px;
    padding: 5px 10px;
    background-color: #d4d4d4;
    border-radius: 12px;
    font-size: 1.1vw;
}
.content_bar input,.content_bar button{
    border: none;
    background-color: transparent;
}
#content2{
    width: 100%;
    max-width: 90%;
    margin:0 auto;
}
.edit{
    fill: #d4d4d4
}
.content_title{
    margin: 20px 0;
    width: 90%;
    padding-left: 5%;
}
.content_title h2{
    font-size: 4vw;
}
span.score{
    padding: 3px;
}
.title_bar{
    display: flex;
}
.title_bar > div{
    margin: 10px 15px 10px 0;
    font-size: 1.2vw;
}
#content3{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.category{
    width: 100%;
    background-color: #000;
    padding: 10px;
    position: sticky;
    z-index: 10;
    top:80px;
}
.no1{
    max-width: 90%;
    margin: 0 auto;
    padding-left: 5%;
    height: 50px;
    line-height: 50px;
}
.no1 span{
    margin-right: 20px;
}
.no1 span a{
    display: inline-block;
    font-size: 2.2vw;
    color: #d4d4d4;
    position: relative;
}
.no1 span a:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #fff;
    transition: all 0.5s;
}
.no1 span a:hover::after{
    width: 100%;
}
.content4{
    width: 100%;
    height: 100%;
}
.content4_rayout{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.main1{
    width: 60%;
    height:100%;
    background-color: rgb(0, 0, 0);
    
}
.main_slide{
    width:100%;
    height: 30vw;
    max-height: 600px;
    overflow: auto;
}
.slide_inner{
    width: 100%;
    height: 100%;
    position: relative;
}
.slide_inner img{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    display: none;
}
.slide_inner img:first-child{
    display: block;
}
.main_thumb{
    width: 100%;
    height: 100%;
    position: relative;
}
.main_thumb button{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    border-radius: 10px;
    border:none;
    text-align: center;
    background-color: transparent;
}
.main_thumb span{
    display: block;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    line-height: 31px;
    background-color: #d4d4d4;
    border-radius: 100%;
    transition: all 0.5s;
    z-index: 100;
}
#prev{
    left: 0;
}
#prev:hover span{
    background-color: #000;
    color: #fff;
}
#next{
    right: 0;
}
#next:hover span{
    background-color: #000;
    color: #fff;
}
.main_thumb .thumb_1{
    width: 90%;
    height: 100%;
    padding: 15px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;   
}
.thumb_1 .thumb_inner{
    width: 1200px;
    height: 100%;
}
.thumb_inner img{
    width: 100vw;
    height: 100vw;
    max-width: 100px;
    max-height: 70px;
    float: left;
    margin-right: 50px;
    filter:opacity(0.7);
    transition: all 0.5s;
}
.thumb_inner img:hover{
    filter: none;
}
.thumb_inner img:last-child{
    margin-right: 0;
}
.intro1{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.main_intro div{
    margin: 20px 0;
}
.intro1 p{
    margin: 10px 0;
}
.intro1 .util{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.util li{
    width: 100%;
    padding: 10px;
}
.util li:first-child{
    border-right: 1px solid rgba(100,100,100,0.5);
}
.util li span{
    display: block;
    margin: 10px;
}
div.intro2{
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 0;
}
.intro2::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: linear-gradient(
        to bottom, 
        rgba(0, 0, 0, 0) 75%,
        rgba(0, 0, 0, 0.4) 85%, 
        rgba(0, 0, 0, 0.7) 95%, 
        rgb(0, 0, 0) 100%), transparent;

} 
.intro2_hide{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
ul.hidden{
    display: none;
}
.intro2_hide li{
    width: 100%;
    height: 100%;
    margin: 1%;
    overflow: hidden;
    border-radius: 8px;
}
.intro2_hide li:nth-child(2),.intro2_hide li:nth-child(3),
.intro2_hide li:nth-child(5),.intro2_hide li:nth-child(6){
    width: 48%;
    height: 48%;
}
.intro2_hide li img{
    width: 100%;
    height: 100%;
}
.intro2 p{
    margin: 20px 0;
    color: #d4d4d4;
}
.intro2 p:last-of-type{
    margin-bottom: 0;
}
.toggle_Btn{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: none;
    color: #fff;
    background-color: rgb(58,58,58);
    cursor: pointer;
}
.sub1{
    width: 40%;
    height: auto;
    background-color: rgb(0, 0, 0);
    padding-left: 5%;
}
.sub_bar{
    width: 90%;
    height: auto;
    text-align: left;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 140px;
}
.sub_bar > * {
    margin: 5px 0;
}
.sub_logo{
    align-self: center;
    max-width: 150px;
    max-height: 150px;
    text-align: center;
}
.sub_logo img{
    width: 100%;
    height: 100%;
}
.sub_value{
    padding: 5px 10px;
    text-align: center;
    background-color: rgb(42,42,42);
    color: #fff;
    font-size: 10px;
    border-radius: 4px;
}
.sub_menu{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.sub_menu a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    line-height: 40px;
    border-radius: 5px;
    margin: 5px;
    font-size: 14px;
}
a.buy{
    background-color: rgb(0,116,228);
}
a.cart,a.wish{
    border: 2px solid #fff;
    border-radius: 10px;
}
.plus{
    display: inline-block;
    border: 2px solid rgb(245,245,245);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    text-align: center;
}
.plus::before,.plus::after{
    content: '';
    position: absolute;
    background-color: rgb(245,245,245);
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.plus::before{
    width: 8px;
    height: 2px;
}
.plus::after{
    height: 8px;
    width: 2px;
}
.sub_menu2{
    width: 100%;
}
.grade{
    display: inline-block;
    width: 45px;
    height: 50px;
}
.grade img{
    width: 100%;
    height: 100%;
    vertical-align: top;
}
.age{
    font-size: 12px;
}
.sub_info{
    font-size: 12px;
    padding: 10px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(100,100,100,0.5);
}
.content5{
    width: 100%;
}
.content5_rayout{
    width: 80%;
    display: flex;
    margin: 0px auto;
}
.achive{
    width: 60%;
}
.achive h3{
    margin: 20px 0;
}
.achive ul{
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.achive ul li div{
    margin: 5px 0;
}
.achive ul li div path{
    fill:rgb(202,81,43);
}
.achive li img{
    width: 100px;
    height: 100px;
}